<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% extends "base.html" %}

{% block title %}The current time {% endblock %}

{% block content %}
<p>It is now {{ current_date }}.</p>
{% endblock %}}}
</body>
</html>